
    <form name="form2" align="center">

            <h1 id="hi">User Id: <%= @user %></h1><br>
            <h1 id="hi">Unit: <%= @unt %></h1> <br>
            <h1 id="hi">Cost:  <%= @amount %> </h1> <br>
            <br> 
     </form>
